<ion-header>
  <ion-toolbar>
    <ion-buttons stol="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center !important;">
  <br><br>
  <form class="example-form" #formUser="ngForm">
    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width" >
          <mat-label>Correo</mat-label>
          <input type="text" #mailCount matInput name="mail" [(ngModel)]="mail"  placeholder="example.12_asd@gmail.com" (keyup)="validateEmail($event)"
          required>
          <mat-hint *ngIf="!mailValid" style="color: red;">Ingrese un correo valido</mat-hint>
        </mat-form-field>  
        <br>
        <br>
        <button [disabled]="isDisabled" mat-raised-button color="primary" (click)="onSubmit(formUser)">Restablecer Contraseña</button>
        <br>
        <br>
        <small>
          Porfavor ingrese el direccion de correo que usted a usado para iniciar sesion en su cuenta.
        </small>
      </ion-col>
    </ion-row>
  </form>
</ion-content>