<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
          <mat-form-field class="example-full-width" style="text-align: center;">
            <mat-label>Buscar notificación</mat-label>
            <input type="text" matInput>
          </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Seguidores</ion-label>
        <ion-badge slot="end">22k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Me gustas</ion-label>
        <ion-badge color="secondary" slot="end">118k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Estrellas</ion-label>
        <ion-badge color="tertiary" slot="end">34k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Completadas</ion-label>
        <ion-badge color="success" slot="end">80</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Precauciones</ion-label>
        <ion-badge color="warning" slot="end">70</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Redes sociales</ion-label>
        <ion-badge color="danger" slot="end">1000</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Sin leer</ion-label>
        <ion-badge color="light" slot="end">24</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Borradores</ion-label>
        <ion-badge color="medium" slot="end">14</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Eliminadas</ion-label>
        <ion-badge color="dark" slot="end">4</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
