<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="text-align: center;">
  <br><br>
  <form class="example-form" #formUser="ngForm">
    <ion-card >
            
      <ion-card-header >
        <ion-col><img width="128" height="128" src="https://cdn-icons.flaticon.com/png/512/3299/premium/3299333.png?token=exp=1635171323~hmac=b3eea1fda07887079876690bf56a8dda"/></ion-col>
      </ion-card-header>
      <mat-form-field class="example-full-width" >
        <mat-label>Usuario</mat-label>
        <input type="text" #usuarioCount matInput name="usario" [(ngModel)]="user.usario" placeholder="Usuario" (keyup)="validateUser($event)"
        onkeypress="if(this.value.length==30) return false;" required>
        <mat-hint align="start" *ngIf="!userValid" style="color: red;">Ingrese un usuario valido</mat-hint>
        <mat-hint align="end">{{usuarioCount.value.length}}/30</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="example-full-width" >
        <mat-label>Contraseña</mat-label>
        <input type="password" #passwordCount matInput placeholder="Contraseña" name="contrasena" [(ngModel)]="user.contrasena" placeholder="Contraseña" (keyup)="validatePassword($event)"
        onkeypress="if(this.value.length==20) return false;" required>
        <mat-hint align="start" *ngIf="!passwordValid" style="color: red;">Ingrese una contrasena valida</mat-hint>
        <mat-hint align="end" >{{passwordCount.value.length}}/20</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <a mat-button [routerLink]="['/password-reset']">¿Has olvidado tu contraseña?</a>
      <br><br>
      <button [disabled]="isDisabled" mat-raised-button color="primary" (click)="onSubmit(formUser)" [routerLink]="['/tabs']">Iniciar Sesion</button>
      <br><br>
      <a mat-button [routerLink]="['/register']">Registrate aqui</a>
      <br><br>     
    </ion-card>
  </form>
</ion-content>
