<ion-header>
  <ion-toolbar>
    <ion-buttons stol="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <br><br>
  <form class="example-form" #formUser="ngForm">

    <ion-card>
      <ion-card-header >
        <ion-col >
          <h1>Registro</h1>
        </ion-col>
      </ion-card-header>
      <mat-form-field class="example-full-width" >
        <mat-label>Usuario</mat-label>
        <input type="text" #usuarioCount matInput name="username" [(ngModel)]="user.username" placeholder="Usuario" (keyup)="validateUser($event)"
        onkeypress="if(this.value.length==30) return false;" required>
        <mat-hint align="start" *ngIf="!userValid" style="color: red;">Ingrese un usuario valido</mat-hint>
        <mat-hint align="end">{{usuarioCount.value.length}}/30</mat-hint>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width" >
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="example@mail.com" name="email" [(ngModel)]="user.email" (keyup)="validateMail($event)" required>
        <mat-hint *ngIf="!mailValid" style="color: red;">Ingrese una email valido</mat-hint>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width" >
        <mat-label>Contraseña</mat-label>
        <input type="password" #passwordCount matInput placeholder="Test12@a" name="password" [(ngModel)]="user.password" placeholder="Contraseña" (keyup)="validatePassword($event)"
        onkeypress="if(this.value.length==20) return false;" required>
        <mat-hint align="start" *ngIf="!passwordValid" style="color: red;">Ingrese una contrasena valida</mat-hint>
        <mat-hint align="end" >{{passwordCount.value.length}}/20</mat-hint>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width" >
        <mat-label>Repetir contraseña</mat-label>
        <input type="password" #repeatPassword matInput placeholder="La contraseña debe ser igual al campo anterior" name="repeatPassword" [(ngModel)]="user.repeatPassword" placeholder="Contraseña" (keyup)="validateSamePassword($event)"
        onkeypress="if(this.value.length==20) return false;" required>
        <mat-hint align="start" *ngIf="!samePassword" style="color: red;">la contraseñas no coinciden</mat-hint>
        <mat-hint align="end">{{repeatPassword.value.length}}/20</mat-hint>
      </mat-form-field>
      <br><br>
      <button [disabled]="isDisabled" mat-raised-button color="primary" (click)="onSubmit(formUser)">Aceptar</button>
      <br><br>
    </ion-card>

  </form>
</ion-content>
