<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="signOut()">
      <ion-icon name="exit-outline" style="width: 30px; height: 30px;" ></ion-icon>
    </ion-buttons>
    <ion-title>Barcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card>
    <ion-card-header>
      <ion-col>
        <br>
        <img style="width: 80%!important;" *ngIf="!show" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/300px-Imagen_no_disponible.svg.png"/>
        <img style="width: 80%!important;" *ngIf="show" src="{{dataQr.url}}"/>
        <br>
        <br>
        <ion-label style="text-align: center;">
          <h1 *ngIf="show">{{dataQr.name}}</h1>
  
        </ion-label>
      </ion-col>
    </ion-card-header>
  </ion-card>
  <ion-row style="text-align: center;">
    <ion-col>
      <button mat-raised-button color="primary" (click)="openScanner()" [routerLink]="['/tabs/barcode']" routerLinkActive="router-link-active" >
        <ion-icon style="width: 20px; height: 20px;" name="scan-outline"></ion-icon>
        Scanner
      </button>
      <br><br>
    </ion-col>
  </ion-row>
</ion-content>
