<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" [routerLink]="['/login']">
      <ion-icon name="exit-outline" style="width: 30px; height: 30px;" ></ion-icon>
    </ion-buttons>
    <ion-title>Barcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card >
    <ion-card-header>
      <ion-col>
        <img style="width: 80%!important;" src="https://images.pexels.com/photos/1352243/pexels-photo-1352243.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"/>
        <br><br>
        <ion-item>
          <ion-label style="text-align: center;">
            <h1>Manzanas Frescas</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-card-header>
  </ion-card>
  <ion-row style="text-align: center;">
    <ion-col>
      <button mat-raised-button color="primary">
        <ion-icon style="width: 20px; height: 20px;" name="scan-outline"></ion-icon>
        Scanner
      </button>
      <br><br>
    </ion-col>
  </ion-row>
</ion-content>
