<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carousel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >

  <ion-card>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1634588024253-2010bf6aa2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1635014992961-339140fbd41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1634937916815-7c93ef020cf3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1636137364651-cbe385c05b0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1633114128174-2f8aa49759b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1636130392146-88747c25fdf0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1634979063892-48d70c885d43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1634765089180-cd904c707e32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1636122638812-02b1ddccfa9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

      <ion-slide>
          <img
            src="https://images.unsplash.com/photo-1634909799456-39b0e3b7209f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      </ion-slide>

    </ion-slides>
    <ion-row style="text-align: center;">
      <ion-col>
        <button class="btn" mat-raised-button color="primary">
          <ion-icon style="width: 20px; height: 20px;" name="scan-outline"></ion-icon>
          Scanner
        </button>
        <br><br>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>


<!-- <ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634588024253-2010bf6aa2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1635014992961-339140fbd41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634937916815-7c93ef020cf3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634921276502-1a48e7af34b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1633114128174-2f8aa49759b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634992798921-b968401c7b75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=465&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634979063892-48d70c885d43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634765089180-cd904c707e32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634743600477-42e3023c1ec5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80" />
  </div>
</ion-slide>

<ion-slide>
  <div class="slide">
    <img
      src="https://images.unsplash.com/photo-1634909799456-39b0e3b7209f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
  </div>
</ion-slide> -->
