ion-slides {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  --bullet-background: black;
  --bullet-background-active: blue;
}
.swiper-pagination {
  margin-bottom:300px !important;
}
.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  pointer-events: none;
}

.btn{
  margin-top: 35px;
}

img{
  width:  400px !important;
  height: 400px !important;
}


:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}


