<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="signOut()">
      <ion-icon name="exit-outline" style="width: 30px; height: 30px;" ></ion-icon>
    </ion-buttons>
    <ion-title>Carousel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <ion-card>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of img">
          <img
            src="{{item.url}}" />
      </ion-slide>
    </ion-slides>
    <ion-row style="text-align: center;">
      <ion-col>
        <button class="btn" mat-raised-button color="primary">
          <ion-icon style="width: 20px; height: 20px;" name="scan-outline"></ion-icon>
          Scanner
        </button>
        <br><br>
      </ion-col>
    </ion-row>
  </ion-card>
 
</ion-content>
